body {
    margin: 0;
    padding: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
}

input {
    width: 100%;
    padding: .5rem;
    border: 1px solid lightsteelblue;
    box-sizing: border-box;
}

input:focus {
    outline: 1px solid steelblue;
}

button {
    text-transform: uppercase;
    background-color: #315b7e;
    color: white;
    border: 1px solid #315b7e;
    padding: .5rem 1rem;
    margin-top: .5rem;
    font-weight: 600;
}

button:hover {
    background-color: #598fbc;
    color: white;
}

#delete-btn {
    background-color: firebrick;
    border: 1px solid firebrick;
    color: white;
}

#delete-btn:hover {
    background-color: crimson;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: .25rem;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:visited {
    color: lightsteelblue;
}

a:hover {
    text-decoration: underline;
    font-weight: 600;
}